@tailwind base;
@tailwind components;
@tailwind utilities;

/* productExtras.css */
.product-extras-container {
  width: 100%;
  height: 500px;
  background: #2e2b2b;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px;
  box-sizing: border-box;
}

.content-container {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
}

.left-section {
  display: flex;
  align-items: center;
  flex: 1;
}

.title-container {
  display: flex;
  align-items: center;
}

.icon {
  font-size: 30px;
  margin-right: 10px;
  color: #fff;
}

.title {
  font-size: 2rem;
  color: white;
  font-weight: bold;
}

.center-section {
  flex: 2;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
}

.product-button {
  background-color: #f76c4f;
  color: white;
  padding: 15px;
  font-size: 1.1rem;
  margin-bottom: 15px;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.product-button:hover {
  background-color: #d14c31;
}

.right-section {
  flex: 1;
  text-align: center;
  align-self: center;
}

.discount-text {
  color: white;
  font-size: 1.1rem;
  margin-bottom: 20px;
}

.cta-button {
  background-color: #6c6f6f;
  color: white;
  padding: 20px 10px;
  font-size: 1.1rem;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.cta-button:hover {
  background-color: #545c5c;
}
