@tailwind base;
@tailwind components;
@tailwind utilities;


/* reviewSection.css */
.reviews-container {
    background-color: #ffffff;
    padding: 10px;
  }
  
  .review-card {
    background-color: #fff;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  .review-card h3 {
    font-size: 1.2rem;
  }
  
  .average-rating {
    text-align: center;
    margin-top: 50px;
  }
  
  .average-rating button {
    background-color: #333;
    font-size: .8rem;
    font-weight: bold;
    color: #fff;
    padding: 10px 20px;
    border-radius: 8px;
    transition: background-color 0.3s ease;
  }
  
  .average-rating button:hover {
    background-color: #363535;
  }
  